@model LookUpAWKFault

@{
    ViewBag.Title = "Create";
}

<h2>Add AWK fault</h2>

@using (Html.BeginForm(
    nameof(AWKController.AddFault), 
    typeof(AWKController).ControllerName(),
    FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="input-group mb-3">
        <span class="input-group-text">Fault Name</span>
    
        @Html.EditorFor(Model => Model.LookupText,
            new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <input type="submit" value="Create" class="btn btn-success" />

    @Html.ActionLink(
        "Back to List",
        nameof(AWKController.FaultsList),
        new { },
        new { @class = "btn btn-success" }
    )
}