@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="text-align: center;">
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=M8w2ehN8XU2WUvw8m5FHzth-f5KrQHpHgiwYfKFmgMJUOFNCWFdIMFZIQVdTVlEySDNKWDhGS0s0RiQlQCN0PWcu">Engineering Enquiries</a> |
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=M8w2ehN8XU2WUvw8m5FHzsnwdp-faxlAlprrKAEHyJ5UMFgwMUJCU1o0MEJVWUVBVFI5NUYySENYSyQlQCN0PWcu">Maintenance Request</a> |
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=M8w2ehN8XU2WUvw8m5FHztMXXPULKtNKrOYixrz-EpNUNFhDT1JMVE42VlBBN0hLRDJQVVpXWE1OMSQlQCN0PWcu">Machining Enquiries</a>
    </p>
</div>



