#notification {
    background-color: white;
    border-color: black;
    text-align: center;
    z-index: 1090;
    top: 0px;
    padding: 16px;
    min-width: 300px;
    max-width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    visibility: hidden;
}

#notificationModal {
    top: 25px;
    min-width: 300px;
    max-width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#notification.show {
    top: 25px;
    opacity: 1;
    visibility: visible;
}

#pinpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    aspect-ratio: 3/4;
    width: 100%;
}

#pinpad #pin {
    /*height: 100%;*/
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
}

#pinpad > .input-group {
    grid-column: span 3;
}

.flexlayout {
    display: flex;
    flex-direction: column;
    gap: 1em;
    aspect-ratio: 9/16;
    margin: auto;
    align-items: center;
    max-height: calc(100vh - 3rem - 1rem);
    margin-top: 3rem !important;
}

.titanbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /*    min-width: 100%;*/
    width: 100%;
    /*    height: 100%;*/
    flex-grow: 1;
    /*    max-height: 25vh;*/
}

.input-group > a.titanbutton {
    height: 100%;
    /*    max-height: 25vh;*/
}

.input-group > .input-group-text {
    height: auto;
}

.titaninlinebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /*    height: 90%;*/
    flex-grow: 1;
}

#barcodeForm {
    /*height: 100%;*/
    flex-grow: 1;
}

.form-inline .input-group {
    width: auto;
    flex-grow: 1;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.input-group-text {
    height: 100%;
}

.input-group input,
.input-group select {
    min-height: 100%;
    flex-grow: 1;
}

.flexlayout :not(input) {
    text-align: center;
}

.flexlayout input[type=submit] {
    text-align: center;
}

.largetext {
    font-size: 36px;
}

.medtext {
    font-size: 24px;
}

.normtext {
    font-size: unset;
}

.padding {
    flex-grow: 1;
    visibility: hidden;
}

.td-center {
    text-align: center;
    vertical-align: middle;
}

.text-overflow {
    height: calc(1.1em * 2);
    line-height: 1.1;
    overflow: auto !important;
    text-overflow: ellipsis;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-overflow-box {
    vertical-align: middle !important;
/*    max-width: 25%;
    width: 40%;*/
}

.close-button {
    background-color: #6c757d;
    border-color: #6c757d;
    color: red !important;
    font-weight: 700;
    line-height: 1;
    font-size: 1.25em;
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
}

.close-button:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.tag-box {
    display: flex;
    flex-grow: 1;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 90%;
    gap: 0.5em;
    padding: 4px 1em 4px 1em;
    flex-wrap: wrap;
    margin-left: -1px;
    height: unset;
}

.tag {
    flex-shrink: 0;
}

.tag > span {
    display: inline;
}
