@{
    ViewData["Title"] = "Reset Password Request";
}
<br />
<br />

<div class="card">
    <div class="card-body">
        <table>
            <tbody>
                <tr>
                    <td>
                        <p><img src="~/content/images/sabre-rail-logo.png" width="250" /></p>
                        <p><img src="~/content/images/Train_Logo.png" /></p>
                    </td>
                    <td>
                        <h2><strong>What's My Password?</strong></h2><br />
                        <form asp-action="ResetPasswordRequest" method="post">
                            <div class="form-group">
                                <label>If you have forgotton your password you can reset it here</label>
                                <input type="text" class="form-control" id="myEmailAddress" name="myEmailAddress" placeholder="Enter your Email Address">
                            </div>
                            <br />
                            <div class="form-check">
                                <button class="btn btn-info" type="reset">Reset</button>
                                <button type="submit" class="btn btn-primary">Reset My Password</button>
                            </div>
                        </form>
        </table>
    </div>
</div>